@* razer view *@

@* @model Test.Models.Tester; *@
@model IEnumerable<Test.Models.Tester>;

@{
ViewData["Title"] ="Index";
}
   
<h1>Test page</h1>
@* <p> Id : @Model.Id </p>
<p> Name : @Model.Name </p>
<p> Socre : @Model.Score </p> *@

@foreach(var tests in Model){
   <p> Id : @tests.Id </p>
   <p> Name : @tests.Name </p>
   <p> Socre : @tests.Score </p>
   <hr/>
}